@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  font-family: "Poppins", sans-serif;
}
.hai {
  width: 100%;
  /* position: sticky !important; */
  left: 0;
  right: 0;
  box-shadow: 0px 0px 5px 8px rgb(19, 8, 66);
  z-index: 10;
}
.Navbar.Brand {
  font-weight: 700;
}
.Nav-link {
  color: white !important;
  border-bottom: 2px solid transparent;
}
.Nav-link:hover {
  border-bottom: 2px solid red;
  transform: scale(1, 1);
}
.link {
  margin-right: 20px;
}
section {
  width: 100%;
  min-height: 100vh;
}